Import the modules and the data

In [3]:
import pandas as pd
import numpy as np
import chardet

data = pd.read_csv("https://raw.githubusercontent.com/edlich/eternalrepo/master/DS-WAHLFACH/dsm-beuth-edl-demodata-dirty.csv")

Look at the Data

In [5]:
data

      id              full_name  ...  gender  age
0    1.0        Mariel Finnigan  ...  Female   60
1    2.0          Kenyon Possek  ...    Male   12
2    3.0         Lalo Manifould  ...    Male   26
3    4.0         Nickola Carous  ...    Male    4
4    5.0          Norman Dubbin  ...    Male   17
5    6.0           Hasty Perdue  ...     NaN   77
6    7.0         Franz Castello  ...    Male   25
7    8.0           Jorge Tarney  ...    Male   77
8    9.0     Eunice Blakebrough  ...  Female   45
9   10.0  Kristopher Frankcombe  ...    Male  old
10  11.0           Palm Domotor  ...    Male    6
11  12.0          Luz Lansdowne  ...  Female   16
12  13.0         Modestia Keble  ...  Female   91
13  14.0           Stacee Bovis  ...  Female   22
14  15.0              Eden Wace  ...  Female   16
15  16.0              Eden Wace  ...  Female   16
16  17.0        Tobias Sherburn  ...    Male    2
17   NaN                    NaN  ...     NaN  NaN
18  19.0         Clair Skillern  ...    Male  -78
19  20.0        Mathew Addicott  ...    Male   65
20  21.0       Kerianne Goacher  ...  Female   45
21   NaN          Maurits Shawl  ...    Male   72
22   NaN                    NaN  ...     NaN  NaN

[23 rows x 7 columns]

How many missing data points do we have?

In [7]:
missing_values_count = data.isnull().sum()
missing_values_count

id            3
full_name     2
first_name    2
last_name     2
email         3
gender        3
age           2
dtype: int64

Figure out why the data is missing


*   Line 17 - 22 are empty rows
*   Email is missing in Line 20 - maybe the person has no mail - Data dosen't exist 
*   Gender is missing in Line 5 - Everyone has at least one or more gender-identitys - Data wasen't recorded or should be "not-binary" 
*   ID is missing in Line 21 - Data wasent' recorded

1. Step: Drop the empty rows

In [15]:
df=data.dropna(how='all')
df

      id              full_name  ...  gender  age
0    1.0        Mariel Finnigan  ...  Female   60
1    2.0          Kenyon Possek  ...    Male   12
2    3.0         Lalo Manifould  ...    Male   26
3    4.0         Nickola Carous  ...    Male    4
4    5.0          Norman Dubbin  ...    Male   17
5    6.0           Hasty Perdue  ...     NaN   77
6    7.0         Franz Castello  ...    Male   25
7    8.0           Jorge Tarney  ...    Male   77
8    9.0     Eunice Blakebrough  ...  Female   45
9   10.0  Kristopher Frankcombe  ...    Male  old
10  11.0           Palm Domotor  ...    Male    6
11  12.0          Luz Lansdowne  ...  Female   16
12  13.0         Modestia Keble  ...  Female   91
13  14.0           Stacee Bovis  ...  Female   22
14  15.0              Eden Wace  ...  Female   16
15  16.0              Eden Wace  ...  Female   16
16  17.0        Tobias Sherburn  ...    Male    2
18  19.0         Clair Skillern  ...    Male  -78
19  20.0        Mathew Addicott  ...    Male   65
20  21.0       Kerianne Goacher  ...  Female   45
21   NaN          Maurits Shawl  ...    Male   72

[21 rows x 7 columns]

2. Step fil in the not recorded Data for ID,GENDER and E-Mail

In [23]:
df["id"]=df["id"].fillna(22)
df["gender"]=df["gender"].fillna("not binary or unknow")
df["email"]=df["email"].fillna("unknown")

df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

      id              full_name  ...                gender  age
0    1.0        Mariel Finnigan  ...                Female   60
1    2.0          Kenyon Possek  ...                  Male   12
2    3.0         Lalo Manifould  ...                  Male   26
3    4.0         Nickola Carous  ...                  Male    4
4    5.0          Norman Dubbin  ...                  Male   17
5    6.0           Hasty Perdue  ...  not binary or unknow   77
6    7.0         Franz Castello  ...                  Male   25
7    8.0           Jorge Tarney  ...                  Male   77
8    9.0     Eunice Blakebrough  ...                Female   45
9   10.0  Kristopher Frankcombe  ...                  Male  old
10  11.0           Palm Domotor  ...                  Male    6
11  12.0          Luz Lansdowne  ...                Female   16
12  13.0         Modestia Keble  ...                Female   91
13  14.0           Stacee Bovis  ...                Female   22
14  15.0              Eden Wace  ...                Female   16
15  16.0              Eden Wace  ...                Female   16
16  17.0        Tobias Sherburn  ...                  Male    2
18  19.0         Clair Skillern  ...                  Male  -78
19  20.0        Mathew Addicott  ...                  Male   65
20  21.0       Kerianne Goacher  ...                Female   45
21  22.0          Maurits Shawl  ...                  Male   72

[21 rows x 7 columns]

3. Step In the Data sets is obvious wrong Data in Age= -78 and old

In [30]:
df["age"]=df["age"].replace("old","unknown")
df["age"]=df["age"].replace("-78","78")
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

      id              full_name  ...                gender      age
0    1.0        Mariel Finnigan  ...                Female       60
1    2.0          Kenyon Possek  ...                  Male       12
2    3.0         Lalo Manifould  ...                  Male       26
3    4.0         Nickola Carous  ...                  Male        4
4    5.0          Norman Dubbin  ...                  Male       17
5    6.0           Hasty Perdue  ...  not binary or unknow       77
6    7.0         Franz Castello  ...                  Male       25
7    8.0           Jorge Tarney  ...                  Male       77
8    9.0     Eunice Blakebrough  ...                Female       45
9   10.0  Kristopher Frankcombe  ...                  Male  unknown
10  11.0           Palm Domotor  ...                  Male        6
11  12.0          Luz Lansdowne  ...                Female       16
12  13.0         Modestia Keble  ...                Female       91
13  14.0           Stacee Bovis  ...                Female       22
14  15.0              Eden Wace  ...                Female       16
15  16.0              Eden Wace  ...                Female       16
16  17.0        Tobias Sherburn  ...                  Male        2
18  19.0         Clair Skillern  ...                  Male       78
19  20.0        Mathew Addicott  ...                  Male       65
20  21.0       Kerianne Goacher  ...                Female       45
21  22.0          Maurits Shawl  ...                  Male       72

[21 rows x 7 columns]

Check for duplicates - Now that we have all the Data it is possible to check for duplicates and there is one in line 14-15.

4. Step: Remove the duplicate row

In [31]:
df.drop([14])

      id              full_name  ...                gender      age
0    1.0        Mariel Finnigan  ...                Female       60
1    2.0          Kenyon Possek  ...                  Male       12
2    3.0         Lalo Manifould  ...                  Male       26
3    4.0         Nickola Carous  ...                  Male        4
4    5.0          Norman Dubbin  ...                  Male       17
5    6.0           Hasty Perdue  ...  not binary or unknow       77
6    7.0         Franz Castello  ...                  Male       25
7    8.0           Jorge Tarney  ...                  Male       77
8    9.0     Eunice Blakebrough  ...                Female       45
9   10.0  Kristopher Frankcombe  ...                  Male  unknown
10  11.0           Palm Domotor  ...                  Male        6
11  12.0          Luz Lansdowne  ...                Female       16
12  13.0         Modestia Keble  ...                Female       91
13  14.0           Stacee Bovis  ...                Female       22
15  16.0              Eden Wace  ...                Female       16
16  17.0        Tobias Sherburn  ...                  Male        2
18  19.0         Clair Skillern  ...                  Male       78
19  20.0        Mathew Addicott  ...                  Male       65
20  21.0       Kerianne Goacher  ...                Female       45
21  22.0          Maurits Shawl  ...                  Male       72

[20 rows x 7 columns]

Step 5: Correct the Id's

In [38]:
for i in range(len(df["id"])):
  df["id"][i]=i+1
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

    id              full_name  ...                gender      age
0    1        Mariel Finnigan  ...                Female       60
1    2          Kenyon Possek  ...                  Male       12
2    3         Lalo Manifould  ...                  Male       26
3    4         Nickola Carous  ...                  Male        4
4    5          Norman Dubbin  ...                  Male       17
5    6           Hasty Perdue  ...  not binary or unknow       77
6    7         Franz Castello  ...                  Male       25
7    8           Jorge Tarney  ...                  Male       77
8    9     Eunice Blakebrough  ...                Female       45
9   10  Kristopher Frankcombe  ...                  Male  unknown
10  11           Palm Domotor  ...                  Male        6
11  12          Luz Lansdowne  ...                Female       16
12  13         Modestia Keble  ...                Female       91
13  14           Stacee Bovis  ...                Female       22
14  15              Eden Wace  ...                Female       16
15  16              Eden Wace  ...                Female       16
16  17        Tobias Sherburn  ...                  Male        2
18  19         Clair Skillern  ...                  Male       78
19  20        Mathew Addicott  ...                  Male       65
20  21       Kerianne Goacher  ...                Female       45
21  20          Maurits Shawl  ...                  Male       72

[21 rows x 7 columns]